.cardHeading1{
  
    width: 516px;
   
    margin-left: 15.387%;
}
.cardHeading2{
     width: auto;
     margin-left: 15.387%;
     margin-top: 95px;
}
.cardHeading3{
    margin-left:22.44%;
    margin-top: 155px; 
}
.cardHeading4{
    margin-left: 14.65%;
    margin-top: 120px;
}

.cardHeading5{
    margin-top:54px;
    margin-left: 1.8666%;
}
.cardHeadingLeft{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    /* identical to box height, or 128% */
    display: inline-block;
    letter-spacing: 0.196px;
    color: #1D1D1F;
}
.cardHeadingRight{
    color:#6E6E73;
    font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 32px;
/* identical to box height, or 128% */

display: inline-block;

letter-spacing: 0.196px;

}
