.profile-container{
    width:500px;
    height: 265px;
    border-radius: 132px;
    cursor: pointer;
}

.profile{
    width: 250px;
    height: 250px;
    border: 8px solid #F8F8F8;
    border-radius: 170px;
   }
   .profile-img{
        position: absolute;
        width:auto;

        height:auto;
        
   }
   .profile-logo{
    position: absolute;
    top:63%;
    width: 100px;
    height: 100px
    
   }
   .logo{
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50px;
    background-color: #FFFFFF;
    border: 20px solid #FFFFFF;
}
.profile-desc{
    display:none;
    position: absolute;
    line-height: 1.4;
    width: 300px;
    left: 15;
    left: 21%;
    top: 15%;
}
.profile-desc1{
    position: absolute;
    line-height: 1.4;
    width: 300px;
    left: 15;
    left: 21%;
    top: 15%;
}

.profiles-info{
    width: 85%;
    margin: auto;
    margin-top: 75px;
    display: flex;
    position: relative;
}

