.carousel1{
    width: 100%;
    height: 500px;
    overflow: hidden;
    /* cursor: grabbing; */
    margin-top:48px;
    
}
.inner-carousel1{
    display: flex;
    position: relative;
    
    left: 15.387%;
    
}
.carousel2{
    
    /* cursor: grabbing; */
    margin-top: 54px;
    overflow: hidden;

}

.inner-carousel2{
    display: flex;
    position: relative;
  
    left:15.387%;
    
}
.carousel3{
    margin-left: 15.387%;
   margin-top: 70px;
    overflow: hidden;
}
.inner-carousel3{
    width: auto;
    height: 500px;
    display: flex;
    
   
}

.divContent{
    position: relative;
    width: 80%;
    left: 30px;
    top:31px;
}
.contentParagraph{
    width: auto;
    height: 14px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.12px;
    color: #F5F5F7;
    
}
.contentParagraph1{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.12px;
    color: #BF4800;
    margin-top: 10%;


}
.contentH11{
    font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
margin-top: 5%;
font-size: 17px;
line-height: 21px;
letter-spacing: -0.374px;
color: #1D1D1F;
}
.contentH1{
    margin: 5px 0;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.196px;
    color:#D9D9DD;;
}
.contentH21{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    margin-top: 10%;
    font-size: 14px;
    line-height: 18px;
     display: flex;
    align-items: center;
    letter-spacing: -0.224px;
    color: #1D1D1F;
 }
.contentH2{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.374px;
    color: #FFFFFF;
    opacity: 0.8;
    }
.cardType1{
    min-width: 400px;
    height: 500px;
    border-radius: 20px;
    margin-right: 40px;
}
.cardType2{
    min-width: 480px;
    height: 500px;
    border-radius: 20px;
    margin-right: 40px;

}
.cardType3{
    min-width: 400px;
    height: 500px;
    border-radius: 20px;
    margin-right: 20px;
}
.cardType4{
    background: #FFFFFF;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 18px;
    width: auto;
    height: auto;
    margin-right: 20px;
    
}
.cardType5{
    width: 31%;
    height: 38vw;
    
    border-radius: 20px;
}
.main-container{
    margin-left: 1.866%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 62px;
}
